<footer class="footer section pb-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-2">
                <div class="content">
                    <h5 class="title fw-bold color-primary fs-4 mb-4 pb-2"> روابط هامة  </h5>
                    <div class="links">
                        <a href="#">  عن منصة أسس الرقمية </a>
                        <a href="#">   الخدمات     </a>
                        <a href="#"> الحلول   </a>
                        <a href="#">   اهداف امشروع     </a>
                        <a href="#">   الشركاء الاستراتيجين      </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order_md_1">
                <div class="content text-center">
                    <img src="{{content.main.logo}}" class="logo mx-auto mb-4" alt="" />
                    <div class="p">
                        هي منصة سحابية للتدريب والتطوير والتجارة الإلكترونية، الحل الشامل الذي يلبي احتياجات مراكز التدريب، التجار الصغار، وشركات تطوير الأعمال. نقدم لك مجموعة متكاملة من الخدمات السحابية لتبسيط عملية تطوير المجتمع و تأهيلهم بطرق مبتكرة وفعّالة.
                    </div>
                    <div class="social_links  mt-4 pt-3 d-flex flex-wrap justify-content-center">
                        <a href="{{content.main.whatsapp}}"><i class="fab fa-whatsapp"></i></a>
                        <a href="{{content.main.instagram}}"><i class="fab fa-instagram"></i></a>
                        <a href="{{content.main.x}}"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="{{content.main.youtube}}"><i class="fa-brands fa-youtube"></i></a>
                        <a href="{{content.main.tiktok}}"><i class="fa-brands fa-tiktok"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2">

                <div class="content">
                    <h5 class="title fw-bold color-primary fs-4 mb-4 pb-2"> روابط اخرى  </h5>
                    <div class="links">
                        <a href="/packages">   الباقات      </a>
                        <a href="/#">   التعليم      </a>
                        <a href="/terms">   الشروط والاحكام   </a>
                        <a href="/policy"> سياسة الخصوصية </a>
                    </div>

                </div>
            </div>

        </div>
        <div class="foot py-4 ">
            <div class="copyright_p text-center">
                جميع الحقوق محفوظة © منصة اسس الرقمية 2024
            </div>

        </div>
    </div>

</footer>