<footer class="page_footer bg-image" id="contact" style="background-image: url(../assets/moneymaker/img/world_pattern.svg);">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-4 py-3">
          <h3 id="website_name"></h3>
          <p>To contact us through one of the following channels</p>

          <div class="social-media-button">
            <a id="footer-facebook" ><span class="mai-logo-facebook-f"></span></a>
            <a id="footer-twitter" ><span class="mai-logo-twitter"></span></a>
            <a id="footer-linkedin" ><span class="mai-logo-linkedin"></span></a>
            <a id="footer-instagram" ><span class="mai-logo-instagram"></span></a>
            <a id="footer-youtube" ><span class="mai-logo-youtube"></span></a>
          </div>
        </div>
     
        <div class="col-lg-4 py-4">
          <h5>Contact Us</h5>
          <p id="footer-address"></p>
          <a id="footer-phone" href="#" class="footer-link"></a>
          <p><a id="footer-envelope" href="#" class="footer-link"></a></p>
        </div>
        <div class="col-lg-4 py-3">
          <h5>Newsletter</h5>
          <ul id="footer-news">

          </ul>
        
        </div>
      </div>

      <p class="text-center" id="copyright">Copyright &copy; <span id="years"></span>. <span id="website_name2"></p>
    </div>
  </footer>