<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Hossam Mohamed" />
    <link rel="shortcut icon" href="{{content.icon_image}}" title="Favicon" sizes="16x16" />

    <!--With LTR -->
    <link rel="stylesheet" href="../assets/moneymaker/osus/css/lib/bootstrap.min.css">
    <!--  -->

    <!--With RTL -->
    <!-- <link rel="stylesheet" href="css/lib/bootstrap.rtl.min.css" /> -->
    <!--  -->

    <!-- google roboto font -->
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--  -->


    <link rel="stylesheet" href="../assets/moneymaker/osus/css/lib/animate.css" />
    <link rel="stylesheet" href="../assets/moneymaker/osus/css/lib/jquery.fancybox.css" />
    <link rel="stylesheet" href="../assets/moneymaker/osus/css/lib/swiper.min.css" />
    <link rel="stylesheet" href="../assets/moneymaker/osus/css/lib/all.min.css" />
    <link rel="stylesheet" href="../assets/moneymaker/osus/css/style.css" />
    <!-- <link rel="stylesheet" href="css/style_en.css"> -->
    <style>
        :root {
            --mainColor: {{content.main_color}} !important;
            --subColor: {{content.second_color}} !important;
        }
        .grad-color {
            background-image: linear-gradient(104.23deg, {{content.gradient_color_1}} 1.55%, {{content.gradient_color_2}} 99.04%) !important;
        }
        footer {
            background-color: {{content.header_color}} !important;
        }
    </style>
    <title> Osus </title>

</head>

<body class="">


    <!--Start navbar-->
    <nav class="navbar navbar-expand-lg grad-color">
        <div class="container-fluid">
            <a class="navbar-brand" href="/{{content.brand_name}}">
                <img src="../assets/moneymaker/osus/images/logo.png" alt="" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/{{content.brand_name}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">about</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            courses
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/{{content.brand_name}}#courses">all courses</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for item in category %}
                            <li><a class="dropdown-item" href="/{{content.brand_name}}/?category={{item.category}}#courses">{{item.category}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">contact us</a>
                    </li>
                </ul>
                <div class="side-nav">
                    <form class="search-form d-flex" role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="" type="submit"> <i class="fal fa-search"></i> </button>
                    </form>
                    {% if logged_in %}
                    <div class="ms-3">
                        <a class="butn-sim" href="https://osus.wowdigital.sa/app/user/{{user}}" role="button">
                            <img src="../images/user.png" style="filter: invert(100%); width: 20px;" alt="user">
                        </a>
                    </div>
                    {% else %}
                    <div class="dropdown ms-3">
                        <a class="dropdown-toggle butn-sim" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            login
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/login">login</a></li>
                            <li><a class="dropdown-item" href="/student-applicant">register</a></li>
                        </ul>
                    </div>
                    {% endif %}
                    <a href="#" class="ms-5"> <i class="fal fa-globe"></i> AR </a>
                </div>
            </div>
        </div>
    </nav>
    <!--End-navbar-->


    <!--Content-->

    <main>


        <!-- ---------- innerheader ----------- -->
        <section class="innerheader grad-color">
            <div class="container">
                <h3> {{course.course.name}} </h3>
                <div class="links">
                    <a href="#"> <i class="fal fa-home me-1"></i> <span class="txt"> Home </span> </a>
                    <a href="#"> <span class="txt"> courses </span> </a>
                    <a href="#"> <span class="txt">  course details </span> </a>
                </div>
            </div>
            <img src="images/hero_shap1.png" alt="" class="shap">
        </section>

        
        <!-- ---------- course details ----------- -->
        <section class="course-details">
            <div class="container">
                <div class="main-info">
                    <div class="row justify-content-between gx-5">
                        <div class="col-lg-8">
                            <div class="info me-lg-3">
                                <h2 class="title"> {{course.course.name}} </h2>
                                <div class="text"> {{course.course.description}} </div>
                            </div>
                            <div class="what-learn">
                                <h3 class="mb-4"> what you will learn </h3>
                                <ul class="check-list">
                                    {% for item in course.points %}
                                    <li> <span class="icon"> <i class="fal fa-check"></i> </span> <span class="txt"> {{item.title}} </span> </li>
                                    {% endfor %}
                                 
                                </ul>
                            </div>
                            <div class="what-learn">
                                <h3 class="mb-4"> Course Content </h3>
                                <div class="accordion" id="accordionExample">
                                    {% for item in course_items %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button {% if item.order == 1 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{item.order}}"
                                                aria-expanded="{% if item.order == 1 %}true{% else %}false{% endif %}" aria-controls="collapse{{item.order}}">
                                                {{item.order}} - {{item.title}}
                                                <small class="clock"> <i class="fal fa-clock"></i> {% if item.minutes < 10 %}0{% endif %}{{item.minutes}}:{% if item.seconds < 10 %}0{% endif %}{{item.seconds}} min </small>
                                            </button>
                                        </h2>
                                        <div id="collapse{{item.order}}" class="accordion-collapse collapse {% if item.order == 1 %} show {% endif %}" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="text"> {{item.description}} </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- <div class="">
                                <a href="#" class="butn mt-5 py-3 rounded-4 col-lg-5">
                                    <span class="txt">start the course</span>
                                    <span class="butn-icon">
                                        <span class="butn-icon-inner"><i class="fal fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div> -->
                        </div>
                        <div class="col-lg-4">
                            <div class="float-det ms-lg-3">
                                <div class="box-det">
                                    <ul>
                                        <li> <h5> course details </h5> </li>
                                        <li> 
                                            <span> <i class="fal fa-star me-2"></i> Rating </span> 
                                            <div class="stars">
                                                {% for i in range(course.course.full_stars) %}
                                                <i class="fas fa-star"></i>
                                                {% endfor %}
                                                {% if course.course.half_star %}
                                                    <i class="fas fa-star-half-alt"></i>
                                                {% endif %}
                                                {% for i in range(course.course.total_stars - (course.course.full_stars + course.course.half_star)) %}
                                                <i class="far fa-star"></i>
                                                {% endfor %}
                                                <small class="str-num"> ({{course.course.rate_count}}) </small>
                                            </div>
                                        </li>
                                        <li> <span> <i class="fal fa-user me-2"></i> Created by </span> <strong> {{course.course.created_by}} </strong> </li>
                                        <li> <span> <i class="fal fa-globe me-2"></i> languages </span> <strong> {{course_langs}} </strong> </li>
                                    </ul>
                                    {% if course_items|length > 0 %}
                                    <div class="">
                                        <a href="/{{content.brand_name}}/course_content?id={{course.course.name}}" class="butn mt-5 w-100 ps-">
                                            <span class="txt">start the course</span>
                                            <span class="butn-icon">
                                                <span class="butn-icon-inner"><i class="fal fa-arrow-right"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                    {%else %}
                                    <div class="">
                                        <div class="butn mt-5 w-100 ps-">
                                            <span class="txt" style="color: rgba(255, 255, 255, 0.5);">Coming Soon...</span>
                                            <span class="butn-icon" style="background-color: rgba(255, 255, 255, 0.5);">
                                                <span class="butn-icon-inner"><i class="fal fa-arrow-right"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- ---------- liked courses ----------- -->
        {% if course.coursesList|length > 0 %}
        <section class="courses bg-light">
            <div class="container">
                <div class="section-title">
                    <img src="images/fav.png" alt="" class="icon">
                    <!-- <h6 class=""> pricing </h6> -->
                    <h2 class="fs-1"> you may like these courses </h2>
                </div>
                <div class="courses-box">
                    <div class="row">
                        {% for item in course.coursesList %}
                        <div class="col-lg-3">
                            <a href="/{{content.brand_name}}/course_detail?id={{item.name}}" class="item">
                                <div class="img">
                                    <img src="{{item.hero_image}}" alt="" class="img-cover">
                                </div>
                                <div class="info">
                                    <h5 class="title"> {{item.name}} </h5>
                                    <div class="text"> {{item.description}} </div>
                                    <div class="rate">
                                        <div class="stars">

                                        {% for i in range(item.full_stars) %}
                                            <i class="fas fa-star"></i>
                                        {% endfor %}
                                        {% if item.half_star %}
                                            <i class="fas fa-star-half-alt"></i>
                                        {% endif %}
                                        
                                        </div>
                                        <small class="str-num"> ({{item.rate_count}}) </small>
                                    </div>
                                    <div class="price">
                                        <h4> <span class="prc"> {{item.price}} </span> <small> SAR </small> </h4>
                                        {% if item.priceold != item.price %}<h4 class="old-prc"> <span class="prc"> {{item.priceold}} </span> <small> SAR </small> </h4>{% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}


        <!-- <div class="img_pattern1">
        </div> -->
    </main>

    <!-- ---------- footer  ----------- -->
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-between gx-0">
                <div class="col-lg-3">
                    <div class="foot-info">
                        <a href="#" class="logo">
                            <img src="{{content.white_logo}}" alt="">
                        </a>
                        <div class="text view-element" data-element-field="footer_text"> {{content.footer_text}} </div>
                        <div class="social-links">
                            <a href="{{content.facebook}}"> <i class="fab fa-facebook-f"></i> </a>
                            <a href="{{content.instagram}}"> <i class="fab fa-instagram"></i> </a>
                            <a href="{{content.twitter}}"> <i class="fab fa-x-twitter"></i> </a>
                            <a href="{{content.youtube}}"> <i class="fab fa-youtube"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-group mt-5 mt-lg-0">
                        <h6 class="sub-title"> Quick Links </h6>
                        <ul class="links">
                            <li> <a href="#"> about </a> </li>
                            <li> <a href="#"> contact us </a> </li>
                            <li> <a href="#"> courses </a> </li>
                            <li> <a href="#"> faq </a> </li>
                            <li> <a href="#"> privacy policy </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-group mt-5 mt-lg-0">
                        <h6 class="sub-title"> courses </h6>
                        <ul class="links">
                            <li> <a href="#"> business </a> </li>
                            <li> <a href="#"> design </a> </li>
                            <li> <a href="#"> photography & video </a> </li>
                            <li> <a href="#"> development </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="links-group mt-5 mt-lg-0">
                        <h6 class="sub-title"> contact info </h6>
                        <ul class="links">
                            <li> <a href="#"> <span class="icon me-2"> <i class="fal fa-envelope"></i> </span> <span class="txt"> {{content.email}} </span> </a> </li>
                            <li> <a href="#"> <span class="icon me-2"> <i class="fal fa-phone-volume"></i> </span> <span class="txt"> {{content.phone}} </span> </a> </li>
                            <li> <a href="#"> <span class="icon me-2"> <i class="fal fa-map-marker"></i> </span> <span class="txt"> {{content.address}} </span> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="item"> All rights reserved © Osus - Designed and developed <a href="#"> <img src="../assets/moneymaker/osus/images/WOW-Logo.png" alt="" class="alyom-logo"> </a> </div>
            <div class="vision-img">
                <img src="../assets/moneymaker/osus/images/2030_1.png" alt="" class="img">
            </div>
            <div class="item"> powered by <a href="#"> <img src="../assets/moneymaker/osus/images/logo_wh.svg" alt="" class="alyom-logo"> </a> </div>
        </div>
    </footer>

    <!--End-Contents-->

    <!-- ------------ modals ----------- -->

    <!-- ====== start to top button ====== -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 220.587;">
            </path>
        </svg>
    </div>
    <!-- ====== end to top button ====== -->
    <!-- -------------- request ----------------- -->
    <!-- <script src="js/lib/jquery-3.0.0.min.js"></script>
    <script src="js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/lib/bootstrap.bundle.min.js"></script>
    <script src="js/lib/wow.min.js"></script>
    <script src="js/lib/jquery.fancybox.js"></script>
    <script src="js/lib/swiper.min.js"></script>
    <script src="js/lib/jquery.waypoints.min.js"></script>
    <script src="js/lib/jquery.counterup.js"></script>
    <script src="js/lib/back-to-top.js"></script>
    <script src="js/main.js"></script> -->

    <script src="../assets/moneymaker/osus/js/lib/jquery-3.0.0.min.js"></script>
    <script src="../assets/moneymaker/osus/js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="../assets/moneymaker/osus/js/lib/bootstrap.bundle.min.js"></script>
    <script src="../assets/moneymaker/osus/js/lib/wow.min.js"></script>
    <script src="../assets/moneymaker/osus/js/lib/jquery.fancybox.js"></script>
    <script src="../assets/moneymaker/osus/js/lib/swiper.min.js"></script>
    <script src="../assets/moneymaker/osus/js/lib/jquery.waypoints.min.js"></script>
    <script src="../assets/moneymaker/osus/js/lib/jquery.counterup.js"></script>
    <script src="../assets/moneymaker/osus/js/lib/back-to-top.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../assets/frappe/dist/js/frappe-web.bundle.3PQWM4VP.js"></script>
    <script src="../assets/moneymaker/osus/js/main.js"></script>

</body>

</html>