{% set asset_path = "../assets/moneymaker/New/" %}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="Wafaa Hegazy">
    <!--Page Name-->
    <title> Osus | Home  </title>
    <!--Page Icon-->
    {% include 'www/share/head.html' %}
</head>
<body>
<div id="scrollsmoother-container">

    <!--Start navs-container -->
    {% include 'www/share/osus_nav.html' %}

    <main>

        <!-- Start section -->
        <section class="order_det   section">
            <div class="container">
                <div class="sec_head text-center pb-2 mb-5">
                    <img src="images/icon-2.svg" class="icon mb-3" alt="" />
                    <h4 class="subtitle color-primary mb-3">  تفاصيل الطلب        </h4>
                    <h1 class="title fw-bold color-secondary mb-3"> تم الاشتراك في الباقة بنجاح    </h1>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="inner">
                            <div class="pkg_det_box">
                                <h2 class="fw-bold color-primary"> باقة البداية </h2>
                                <div class="p my-2">
                                    مناسبة للمدربين والمعلمين
                                </div>
                                <h3 class="price ">
                                    <span class="dir_ltr"><b>26</b><sup class="fs-6">66</sup> </span>
                                    <small class="fs-5"> .ريال شهرياً</small>
                                </h3>
                            </div>
                            <div class="information_box row mt-4 pt-4">
                                <div class="col-lg-4">
                                    <div class="item">
                                        <img src="images/icons/envelope.svg" class="icon" alt="" />
                                        <div class="txt_cont">
                                            <h6 class="label"> البريد الالكتروني </h6>
                                            <p class="data">  Mohamed.ali@mail.com </p>
                                        </div>
                                        <!-- <button class="copy_butn"> <img src="images/icons/copy.svg" class="copyIcon" alt=""> </button> -->
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="item">
                                        <img src="images/icons/pay.svg" class="icon" alt="" />
                                        <div class="txt_cont">
                                            <h6 class="label">     طريقة الدفع </h6>
                                            <p class="data">   تابي - TF109283013123 </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="item">
                                        <img src="images/icons/cart.svg" class="icon" alt="" />
                                        <div class="txt_cont">
                                            <h6 class="label">    حالة الطلب  </h6>
                                            <p class="data">   فعال   </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
        
                        </div>
                    </div>
                    <div class="col-lg-4">
                    
                        <div class="data_box">
                            <div class="total_box mb-5 ">
                                <h6 class="title"> اجمالي الطلب: </h6>
                                <h1 class="price"> 1107 </h1>
                                <h6 class="sar"> ريال سعودي </h6>
                            </div>
                            <div class="prices_items mb-2">
                                <div class="item">
                                    <span> الاجمالي بدون الضريبة    : </span>
                                    <span> 70 <small>ر.س</small></span>
                                </div>
                                <div class="item">
                                    <span> ضريبة القيمة المضافة <small> (15%)</small> :  </span>
                                    <span> 20 <small>ر.س</small></span>
                                </div>
                                <div class="item">
                                    <span>  الاجمالي :   </span>
                                    <span class="price"> 530 <small>ر.س</small></span>
                                </div>
                            </div>

                            <!-- <img src="images/qr_1.png" class="qr_img img-cover" alt="" /> -->
                        </div>

                    </div>
                </div>
           
                <div class="col-lg-3 mt-5 mx-auto">
                    
                    <a href="#" class="butn primary_butn w-100">
                        <span> تحميل الفاتورة </span>
                    </a>
                </div>
          

            </div>
        </section>

    </main>

    <!-- Start footer -->
    {% include 'www/share/osus_footer.html' %}

</div>

    <!--Scroll to top button-->
    <div class="progress-wrap ">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 220.587;"></path></svg>
    </div>

    <!-- loading -->
    <!-- <div id="preloader">
        <div id="loading-wrapper" class="show">
            <div id="loading-text"> <img src="icon.png" alt=""> </div>
            <div id="loading-content"></div>
        </div>
    </div> -->

    <!--Js Files & Libraries-->
    {% include 'www/share/js.html' %}
</body>
</html>