{% set asset_path = '../assets/moneymaker/training_platform/' %}
{% set riyal_symbol = '/files/riyal_symbol.svg' %}

<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="Wafaa Hegazy">
    <!--Page Name-->
    <title> Register </title>
    <!--Page Icon-->
    <link rel="shortcut icon" href="{{ content.icon_image }}" type="image/x-icon" title="Favicon" sizes="16x16" />

    {% include 'www/training_shared/styles.html' %}
</head>
<body class="">

    <!--Start navs-container -->
    <div class="navs-container">
        {% include 'www/training_shared/top_nav.html' %}
        <!--Start main-nav-->
        {% include 'www/training_shared/main_nav.html' %}
    </div>

    <main>

        <!-- Start section -->
        {% with title = 'تسجيل جديد' %}
        {% include 'www/training_shared/page_header.html' %}
        {% endwith %}


        <!-- Start section -->
        <section class="register_pg section">
            <div class="container">
                <div class="col-lg-9 mx-auto">
                    <form id="register-form">
                        <div class="form_box">
                            <div class="head_box text-center ">
                                <div class="logo_box text-center">
                                    <img src="{{ asset_path }}images/logo.svg" class="logo dark_d_none " alt="" />
                                    <img src="{{ asset_path }}images/logo_white.svg" class="logo dark_d_block d-none" alt="" />
                                </div>
                                <h6 class="subtitle mt-4 fs-5 color-primary">
                                    <span class="line_w_circle me-3"></span>
                                    <span class="">   تسجيل جديد </span>
                                    <span class="line_w_circle ms-3"></span>
                                </h6>
                                <div class="another_opt mt-4">
                                      لديك حساب ؟ 
                                    <a href="#" class="color-primary"> تسجيل الدخول  </a>
                                </div>
                            </div>
                            <div class="card_body">
                                <form id="edit-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="first-name" name="first_name" placeholder="" required>
                                                <label  class="floatingLabel">    الاسم  الاول   </label>
                                                <span class="icon"> <i class="fa-light fa-user"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="last-name" name="last_name" placeholder="" required>
                                                <label  class="floatingLabel"> الاسم الاخير </label>
                                                <span class="icon"> <i class="fa-light fa-user"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-floating">
                                                <input type="email" class="form-control" id="email" name="email" placeholder="" autocomplete="new-email" required>
                                                <label  class="floatingLabel"> البريد الالكتروني </label>
                                                <span class="icon"> <i class="fa-light fa-envelope"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group phone_group ">
                                            <input type="text" class="form-control" id="phone-number" name="phone" placeholder="" required>
                                            <span class="icon"> <i class="fa-light fa-mobile-screen-button"></i></span>
                                            <img src="{{ asset_path }}images/icons/flag_saudi.svg" class="flag" alt="" />
                                            <!-- <select class="code_selct">
                                                <option>+971</option>
                                            </select> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group  ">
                                            <div class="form-floating show_hide_password">
                                                <input type="password" id="pass" name="password" class="form-control" placeholder="" autocomplete="new-password" required>
                                                <label  class="floatingLabel"> كلمة المرور </label>
                                                <span class="icon">  <i class="fa-light fa-lock"></i> </span>
                                                <i class="show_pass far fa-eye-slash"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group  ">
                                            <div class="form-floating show_hide_password">
                                                <input type="password" id="cpass" class="form-control" placeholder="" autocomplete="new-password" required>
                                                <label  class="floatingLabel"> تأكيد كلمة المرور </label>
                                                <span class="icon">  <i class="fa-light fa-lock"></i> </span>
                                                <i class="show_pass far fa-eye-slash"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 mx-auto">
                                    <button id="register-btn" class="butn primary_butn butn_w_arrow mt-5  w-100 ">
                                        <span> تأكيد </span>
                                    </button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>


    </main>

    <!-- Start footer -->
    {% include 'www/training_shared/footer.html' %}

    <!--Scroll to top button-->
    <div class="progress-wrap ">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 220.587;"></path></svg>
    </div>

    <!-- loading -->
    <!-- <div id="preloader">
        <div id="loading-wrapper" class="show">
            <div id="loading-text"> <img src="icon.png" alt=""> </div>
            <div id="loading-content"></div>
        </div>
    </div> -->
    {% with logo = content.white_logo %}
    {% include 'www/training_shared/loader.html' %}
    {% endwith %}
    <script src="register.js"></script>
    <!--Js Files & Libraries-->
    {% include 'www/training_shared/scripts.html' %}


</body>
</html>